.gitattributes

# Build results
**/bin/
**/obj/

# Visual Studio / Visual Studio Code
.vs/
.vscode/
*.user
*.suo

# Test results
TestResults/

# Local cache/database files created by our application
measurement_history.json
measurement_pending_sync.json

# Temporary logs
*.log
*.txt


